{% extends 'template/index.html' %}

{% load static %}

{% block titulo %}
    
<h1>Hola estudiantes</h1>

{% endblock %}

{% block Cambio %}

<h1>Bienvenido Estudiantes</h1>
<form action="" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Agregar" >
</form>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>nombre</th>
            <th>apellido</th>
            <th>email</th>
        </tr>
    </thead>
    <tbody>
        
        
        {% for estudiante in estudiantes %}
        <tr>
            <td>
                <div class="container">
                {{ estudiante.id }}
                </div>
            </td>
            <td>
                <div class="container">
                {{ estudiante.nombre }}
                </div>
            </td>
            <td>
                <div class="container">
                {{ estudiante.apellido }}
                </div>
            </td>
            <td>
                <div class="container">
                {{ estudiante.email }}
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
